/* TODO: some css */
.clockWidget {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 35px;
    color: #FFFFFF;
    background-color: #000000;
}

* {
    margin:0;
    padding:0;
}
.border {
    background-color: #FFFFFF;
    width: 210px;
    height: 210px;
    border-radius: 105px; 
}
.pie {
    background-color:#000000;
    width:200px;
    height:200px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
}
.clip1 {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
}
.slice1 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 100px, 200px, 0px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:#FFFFFF;
    border-color:#FFFFFF;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}
.clip2 {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    height:200px;
    clip:rect(0, 100px, 200px, 0px);
}
.slice2 {
    position:absolute;
    width:200px;
    height:200px;
    clip:rect(0px, 200px, 200px, 100px);
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    border-radius:100px;
    background-color:#FFFFFF;
    border-color:#FFFFFF;
    -moz-transform:rotate(0);
    -webkit-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);
}
.status {
    position:absolute;
    height:30px;
    width:200px;
    line-height:60px;
    text-align:center;
    top:50%;
    margin-top:-35px;
    font-size:60px;
}