#closeButtonContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#closeButton {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1.3em;
}

#dragAreaContainer {
    position: absolute;
    top: 50px;
    bottom: 100px;
    width: 80%;
    margin-left: 10%;
}

#dragArea {
    position: absolute;
    border: 10px solid #ffffff;
    border-radius: 10px
}

#locationIndicator {
    color: white;
    font-size: 1.5em;
    position: absolute;
    margin: 0;
    font-weight: bold;
    left: 0;
    top: 0;
}